/* 
    Created on : Sep 4, 2017, 12:17:32 PM
    Author     : Vikash Kumar <vikash.kumar@addteq.com>
*/

#euiButtonAccept {
    background-color: #4CAF50;
} /* Green */
#euiButtonAccept:hover {
    background-color: #46a049;
}

#euiButtonDecline {
    background-color: #f44336;
} /* Red */ 
#euiButtonDecline:hover {
    background: #da190b;
}

.eui-aui-msg, .eui-aui-msg-warning{
    max-width : 50%;
    top: 10%;
    z-index: 2000;
}
